@import "./keyframes.scss";
@tailwind base;
@tailwind utilities;
html {
    body {
        .navbarMenu {
            opacity: 0;
            animation: navbarMenu 0.3s ease forwards;
        }
        .container {
            width: min(100% - 40px, 1220px);
            margin-inline: auto;
        }
        #app {
            display: grid;
            grid-template-rows: auto 1fr auto;
            height: 300vh;
        }
        // Scroll-bar
        &::-webkit-scrollbar {
            background-color: #fff;
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba($color: #ccc, $alpha: 1);
            border-radius: 10px;
            border: 2px solid #fff;
        }
    }
}
