@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        .container {
            width: min(100% - 40px, 1260px);
            margin-inline: auto;
        }

        // Scroll-bar
        &::-webkit-scrollbar {
            background-color: #fff;
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba($color: #ccc, $alpha: 1);
            border-radius: 10px;
            border: 2px solid #fff;
        }
    }
}
