.reviews {
    li {
        list-style: none;
    }
    .wrapper {
        .cards {
            li {
                article {
                    .info {
                        display: grid;
                        grid-template-columns: 1fr auto;
                        justify-content: space-between;
                        align-items: center;
                        div {
                            display: grid;
                            grid-row-gap: 5px;
                        }
                    }
                }
            }
        }
    }
}
