.signUp {
    .wrapper {
        display: grid;
        grid-template-columns: 600px 1fr;
        .wrapperForm {
            .logo {
                display: grid;
                grid-column-gap: 10px;
                grid-template-columns: repeat(2, auto);
                justify-content: start;
                align-items: center;
            }
            form {
                display: grid;
                grid-row-gap: 30px;
                .name {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    grid-column-gap: 20px;
                }
                .submitBtn {
                    &:hover {
                        svg {
                            transition: all 0.2s ease;
                            transform: translate(3px, 0px);
                        }
                    }
                }
            }
        }
    }
}
@media screen and (width <= 1024px) {
    .signUp {
        .wrapper {
            grid-template-columns: 600px;
            justify-content: center;
        }
    }
}
@media screen and (width <= 768px) {
    .signUp {
        .wrapper {
            grid-template-columns: 1fr;
            justify-content: center;
        }
    }
}
