.hero {
    .wrapper {
        text-align: center;
        article {
            h1 {
                font-size: clamp(2.9rem, 8vw, 4.5rem);
                line-height: 1.1;
                margin: 0 auto;
                position: relative;
            }
            p {
                line-height: 1.7;
            }
        }
    }
}
